
#header {
    color: darkblue;
    size: 50px;
    font-family: serif, "OCR A Extended", "Heavy Data";
}

#head {
    height: 200px;
    width: 1000px;
    background-color: gray;
}

#body {
    height: 1000px;
    width: 1000px;
    background-color: lightcyan;
}

ul li {
    color: black;
}

#align {
    margin: auto;
}